:root{
    --color-morado-claro:#8858edff;
    --color-blanco:#ffffffff;
    --color-negro:#060506ff;
    --color-gray:#232223ff;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::after,*::before{
    box-sizing:inherit;
}
body {
    font-size: 1.6rem;
    font-family:Arial,Helvetica,sans-serif; ;
}

